body{
    margin: 0;
    padding: 0;
}

.whitebar{
    background-color: white;
    width:4rem;
    height: 2rem;
}

aside{
    background-color: grey;
    flex: 1 10%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

main{
    flex: 1 90%;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width:100vw;
}

/* NAVBAR */


nav{
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 0em 1em;
    background-color: lightblue;
}

.logo{
    width: 3rem;
    height: 3rem;
    background-color: grey;
}

.pallino{
    position: fixed;
    bottom: 2px;
    right: 2px;
}